<h1>Editing <%= @dog.name %></h1>

<p>
  <%= link_to "Cancel", dog_path %> |
  <%= link_to "Delete this dog", dog_path, method: :delete %>
</p>

<%= form_for @dog do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :breed %>
     <%= f.text_field :breed %></p>

  <p><%= f.label :age %>
  <%= f.text_field :age %></p>

  <p><%= f.submit %></p>
<% end %>
